<header class="pokedex-header">Add a Pokemon</header>

<div class="form-group">
  <ul>
    <li>
      <label for="name">Name</label>
      <input ng-model="newPokemon.name" name="name" type="text" placeholder="Pokemon Name" class="form-control">
    </li>
    <li>
      <label for="image">Image</label>
      <input ng-model="newPokemon.picture" name="image" type="text" placeholder="Image URL" class="form-control">
    </li>
    <li>
      <label for="description">Description</label>
      <textarea ng-model="newPokemon.description" name="description" placeholder="This pokemon is...."></textarea>
    </li>
  </ul>

  <button ng-click="addPokemon()" class="create-btn btn btn-block btn-sm btn-info">Create</button>
</div>
